@model UniversityModel
@{
    ViewBag.Title = "College";
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Director</th>
            <th>ContactPhone</th>
            <th>Departments</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Director</td>
            <td>@Model.ContactPhone</td>
            <td>
                @foreach (DepartmentModel department in @Model.Departments)
                {
                    <p>@department.Name</p>
                }
            </td>
        </tr>
    </tbody>
</table>
