@model List<DepartmentModel>
@{
    ViewBag.Title = "Departments";
}
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Head</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Groups</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DepartmentModel department in @Model)
        {
            <tr>
                <td>@department.Id</td>
                <td>@department.Name</td>
                <td>@department.Head</td>
                <td>@department.Phone</td>
                <td>@department.Email</td>
                <td>
                    @foreach (GroupModel group in department.Groups)
                    {
                        <p>@group.Name</p>
                    }
                </td>
                <td>
                    <form asp-controller="Departments" asp-action="Delete" method="post">
                        <input type="hidden" name="departmentId" value="@department.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-action="Create">Add New</a>